.footer {
    display:inline;
    float:below;
    height: 100%;
    width: 22%;
}

.header {
    display:inline;
    float:top;
    height: 100%;
    width: 22%;
}

.name {
    position: relative;
    top: 40%;
    text-align:center;
    font-weight: bold;
    font-size: 25px;
}

.download {
    position: relative;
    top: 55%;
}


.login-button { /* æŒ‰é’®ç¾ŽåŒ– */
    width: 2%; /* å®½åº¦ */
    height: 6px; /* é«˜åº¦ */
    border-width: 0px; /* è¾¹æ¡†å®½åº¦ */
    border-radius: 5px; /* è¾¹æ¡†åŠå¾„ */
    background: #5BB1A8; /* èƒŒæ™¯é¢œè‰² */
    cursor: pointer; /* é¼ æ ‡ç§»å…¥æŒ‰é’®èŒƒå›´æ—¶å‡ºçŽ°æ‰‹åŠ¿ */
    outline: none; /* ä¸æ˜¾ç¤ºè½®å»“çº¿ */
    font-family: Microsoft YaHei; /* è®¾ç½®å­—ä½“ */
    color: rgb(252, 252, 252); /* å­—ä½“é¢œè‰² */
    font-size: 4px; /* å­—ä½“å¤§å° */
    display:block;
    margin:0 auto;
    text-align: center;
    text-decoration:none;
    line-height: 4px;
}
.login-button:hover { /* é¼ æ ‡ç§»å…¥æŒ‰é’®èŒƒå›´æ—¶æ”¹å˜é¢œè‰² */
    background: #5599FF;
}

@media screen and (min-width: 1200px) {
    .footer {
        width: 300px;
    }
    .header {
        width: 300px;
    }
    .login-button {
        width: 400px;
    }
    .name {
        font-size: 55px;
    }
}

